# OS / editor
.DS_Store

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Env/secrets
.env
credentials/
*.json
!requirements.txt

# Testing
.pytest_cache/

# Build artifacts
dist/
build/